.social-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 160px;
  margin: auto;
}

.social-link {
  font-size: 33px;
}

.section-title {
  color: var(--secondary-color);
  font-size: 48px;
  font-weight: 400;
  line-height: 55px;
  margin-bottom: 27px;
}

.section-subtitle {
  color: var(--main-color);
  font-size: 28px;
  line-height: 40px;
  padding: 0 20px;
}

.button--primary {
  background-color: var(--accent-color);
  border-radius: 35px;
  color: #fff;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  width: 236px;
}

.button--primary:hover {
  background-color: #fff;
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
}

.hidden-element {
  display: none;
}

@media (min-width: 800px) {
  .hidden-element {
    display: contents;
  }

  .social-items {
    display: flex;
  }

  .section-subtitle {
    max-width: 600px;
    padding: 0;
  }
}