.social-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 160px;
  margin: auto;
}

.social-link {
  font-size: 33px;
}

.section-title {
  color: var(--secondary-color);
  font-size: 48px;
  font-weight: 400;
  line-height: 55px;
  margin-bottom: 27px;
}

.section-subtitle {
  color: var(--main-color);
  font-size: 28px;
  line-height: 40px;
  padding: 0 20px;
}

.button--primary {
  background-color: var(--accent-color);
  border-radius: 35px;
  color: #fff;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  width: 236px;
}

.button--primary:hover {
  background-color: #fff;
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
}

.hidden-element {
  display: none;
}

.status {
  position: fixed;
  right: 10px;
  top: 50%;
  width: fit-content;
  padding: 10px;
  margin: 10px;
  line-height: 1.8;
  cursor: pointer;
  color: #2c2c2c;
}

.status.success {
  border-left: 4px solid #2ec946;
  background-color: #c9f9d1db;
  border-radius: 5px;
}

.status.error {
  border: 1px solid #ff3838;
  border-radius: 8px;
  background-color: #f0bdbde6;
}

@media (min-width: 1074px) {
  .hidden-element {
    display: contents;
  }

  .social-items {
    display: flex;
  }

  .section-subtitle {
    max-width: 600px;
    padding: 0;
  }
}