.footer {
  background-color: var(--secondary-color);
  padding: 107px 54px;
  margin: auto;
  text-align: center;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 70px;
}

.footer__menu-title {
  color: white;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 9px;
}

.footer__menu-link {
  color: white;
  font-size: 15px;
  line-height: 28px;
  font-weight: 400;
  text-decoration: none;
}

.footer__menu-link:hover {
  text-decoration: underline;
}

.footer__contact {
  padding: 0;
}

.footer__contact .contact-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  text-align: start;
  color: white;
  text-decoration: none;
  font-size: 15px;
  margin-bottom: 20px;
}

.footer__contact .contact-icon{
  font-size: 30px;
  color: white;
}

.footer__contact .social-items{
  margin-top: 30px;
}
.footer__contact .social-link {
  color: white;
}