@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #374754;
  --accent-color: #2091F9;
  --secondary-color: #252B42;
  --secondary-font-family: 'Roboto', sans-serif;
  font-family: 'Instrument Sans', sans-serif;
  scroll-behavior: smooth;
}

img {
  display: block;
}

.container {
  max-width: 1700px;
  margin: auto;
}
