.header {
  background-image: url(../img/background.png);
  background-size: cover;
  background-position: 50% 50%;
  color: #fff;
  height: 100vh;
}

.header__nav {
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__nav .nav__menu {
  display: none;
}

.header__nav .nav__menu-link {
  color: #fff;
  font-size: 15px;
  line-height: 28px;
  text-decoration: none;
  margin-left: 41px;
}

.header__nav .nav__menu-link:hover {
  text-decoration: underline;
}

.header__nav .social-link {
  color: #fff;
}

.header__hero {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.header__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 55px;
  margin: 100px 0 27px;
}

.header__subtitle {
  font-size: 28px;
  line-height: 40px;
  padding: 0 10px;
}

.header__button {
  margin-top: 69px;
  line-height: 20px;
  height: 52px;
}

.header .social-items {
  display: none;
}

.header__nav .nav__logo-container {
  margin-left: 10px;
  height: 50px;
  width: 180px;
}

.header__burger-menu {
  height: 30px;
  width: 30px;
  position: relative;
  cursor: pointer;
  padding: 1rem;
  margin-right: 5px;
}

.header__ham-bar {
  width: 70%;
  height: 2px;
  background-color: white;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform .6s, opacity .8s, top .6s;
}

.header__burger-menu .bar-top {
  top: 25%;
}

.header__burger-menu .bar-bottom {
  top: 75%;
}

.header__burger-menu.active .bar-top {
  transform: translate(-50%, -50%) rotate(-315deg);
  top: 50%;
}

.header__burger-menu.active .bar-mid {
  opacity: 0;
}

.header__burger-menu.active .bar-bottom {
  transform: translate(-50%, -50%) rotate(-225deg);
  top: 50%;
}

.header__off-screen-menu {
  position: fixed;
  top: -100%;
  background-color: var(--secondary-color);
  height: 100vh;
  width: 100%;
  padding-top: 15px;
  transition: all 200ms ease-in-out;
  display: flex;
  flex-direction: column;
}

.header__off-screen-menu.active {
  top: 0;
}

.header__off-screen-menu.active .nav__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 50px;
}

.header__off-screen-menu.active .nav__menu-link {
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}

.header__off-screen-menu.active .social-items {
  display: flex;
  margin-top: 30px;
}

@media (min-width: 800px) {
  .header {
    height: 930px;
  }

  .header__nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 0 0;
  }

  .header__nav .nav__menu {
    display: flex;
    justify-content: end;
  }

  .header__nav .nav__logo-container {
    margin-left: 45px;
  }

  .header__title {
    margin-top: 160px;
    font-weight: 700;
    max-width: 762px;
  }

  .header__subtitle {
    max-width: 766px;
  }

  .header__burger-menu {
    display: none;
  }

  .header .social-items {
    display: flex;
  }

  .header__nav {
    display: grid;
    grid-template-columns: 40% 20% 40%;
  }
}