.partners {
  text-align: center;
  margin-top: 174px;
}

.partners__carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 50px 0 30px;
}

.partners__carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.partners__carousel .partner-card {
  flex: 0 0 100%;
  box-sizing: border-box;
}

.partners__carousel .partner-card img {
  width: fit-content;
  margin: auto;
}


.partners__carousel .carousel__button--next, .partners__carousel .carousel__button--prev {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 30px;
  padding: 0 40px;
  cursor: pointer;
}

.partners__carousel .carousel__button--next i, .partners__carousel .carousel__button--prev i {
  color: #9199ad45;
}

.partners__carousel .carousel__button--prev {
  left: 30px;
}

.partners__carousel .carousel__button--next {
  right: 30px;
}

.partners__button {
  margin: auto;
  font-weight: 700;
  line-height: 28px;
  height: 60px;
}

@media (min-width:800px) {
  .partners__subtitle {
    margin: auto;
  }
}