<section class="features">
  <h2 class="features__title section-title">Features</h2>
  <p class="features__subtitle section-subtitle">Most calendars are designed for teams. <span
      class="hidden-element">Slate is designed for freelancers</span></p>
  <div class="features__content">
    <div class="features__video-container">
      <iframe class="features__video" src="https://www.youtube.com/embed/S3izMp_W31g" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
    <ul class="features__list">
      <li class="features__item">
        <img class="features__item-icon" src="img/icons/geometric-shapes.png" alt="Geometric shapes">
        <h3 class="features__item-title">OpenType features Variable fonts</h3>
        <p class="features__item-text">Slate helps you see how many more days you need to work to reach your financial
          goal.</p>
      </li>
      <li class="features__item">
        <img class="features__item-icon" src="img/icons/pencil.png" alt="Pencil">
        <h3 class="features__item-title">Design with real data</h3>
        <p class="features__item-text">Slate helps you see how many more days you need to work to reach your financial
          goal.</p>
      </li>
      <li class="features__item">
        <img class="features__item-icon" src="img/icons/paintbrush.png" alt="Paintbrush">
        <h3 class="features__item-title">Fastest way to take action</h3>
        <p class="features__item-text">Slate helps you see how many more days you need to work to reach your financial
          goal.</p>
      </li>
    </ul>
  </div>
</section>