<section class="features">

  <h2 class="section-title">Features</h2>
  <p class="section-subtitle">Most calendars are designed for teams. Slate is designed for freelancers</p>
  <ul class="features__group">
      <li class="features__item">
          <img class="features__item-icon" src="img/icons/geometric-shapes.png" alt="Geometric shapes">
          <h3 class="features__item-title">OpenType features Variable fonts</h3>
          <p class="features__item-text">Slate helps you see how many more days you need to work to reach your financial goal.</p>
      </li>
      <li class="features__item">
          <img class="features__item-icon" src="img/icons/pencil.png" alt="Pencil">
          <h3 class="features__item-title">Design with real data</h3>
          <p class="features__item-text">Slate helps you see how many more days you need to work to reach your financial goal.</p>
      </li>
      <li class="features__item">
          <img class="features__item-icon" src="img/icons/paintbrush.png" alt="Paintbrush">
          <h3 class="features__item-title">Fastest way to take action</h3>
          <p class="features__item-text">Slate helps you see how many more days you need to work to reach your financial goal.</p>
      </li>
  </ul>
  
  <div class="features__video-container">
    <img class="features__video" src="img/video-player.png" alt="Video">
  </div>

</section>