<footer class="footer">
  <div class="footer__menu-container">
    <div class="footer__menu">
      <h3 class="footer__menu-title">Pages</h3>
      <a class="footer__menu-link" href="#">Home</a>
      <a class="footer__menu-link" href="#">Product</a>
      <a class="footer__menu-link" href="#">Pricing</a>
      <a class="footer__menu-link" href="#">About</a>
      <a class="footer__menu-link" href="#">Contact</a>
    </div>
    <div class="footer__menu">
      <h3 class="footer__menu-title">Tomothy</h3>
      <a class="footer__menu-link" href="#">Eleanor Edwards</a>
      <a class="footer__menu-link" href="#">Ted Robertson</a>
      <a class="footer__menu-link" href="#">Annette Russell</a>
      <a class="footer__menu-link" href="#">Jennie Mckinney</a>
      <a class="footer__menu-link" href="#">Gloria Richards</a>
    </div>
    <div class="footer__menu">
      <h3 class="footer__menu-title">Jane Black</h3>
      <a class="footer__menu-link" href="#">Philip Jones</a>
      <a class="footer__menu-link" href="#">Product</a>
      <a class="footer__menu-link" href="#">Colleen Russell</a>
      <a class="footer__menu-link" href="#">Marvin Hawkins</a>
      <a class="footer__menu-link" href="#">Bruce Simmmons</a>
    </div>
  </div>
  <div class="footer__contact contact">
    <a class="contact-link" href="#">
      <div class="contact-icon">
        <i class="fa-solid fa-location-dot"></i>
      </div>
      7480 Mockingbird Hill undefined
    </a>
    <a class="contact-link" href="#">
      <div class="contact-icon">
        <i class="fa-solid fa-mobile-screen-button"></i>
      </div>
      (239) 555-0108
    </a>
    <div class="social-items">
      <a href="https://twitter.com/" target="_blank" class="social-link"><i class="fa-brands fa-twitter"></i></a>
      <a href="https://uk-ua.facebook.com/" target="_blank" class="social-link"><i class="fa-brands fa-square-facebook"></i></a>
      <a href="https://www.linkedin.com/" target="_blank" class="social-link"><i class="fa-brands fa-linkedin"></i></a>
    </div>
  </div>
</footer>