<footer class="footer">
  <div class="footer__menu">
    <h3 class="footer__menu-title">Pages</h3>
    <a class="footer__menu-link" href="#">Home</a>
    <a class="footer__menu-link" href="#">Product</a>
    <a class="footer__menu-link" href="#">Pricing</a>
    <a class="footer__menu-link" href="#">About</a>
    <a class="footer__menu-link" href="#">Contact</a>
  </div>
  <div class="footer__menu">
    <h3 class="footer__menu-title">Tomothy</h3>
    <a class="footer__menu-link" href="#">Eleanor Edwards</a>
    <a class="footer__menu-link" href="#">Ted Robertson</a>
    <a class="footer__menu-link" href="#">Annette Russell</a>
    <a class="footer__menu-link" href="#">Jennie Mckinney</a>
    <a class="footer__menu-link" href="#">Gloria Richards</a>
  </div>
  <div class="footer__menu">
    <h3 class="footer__menu-title">Jane Black</h3>
    <a class="footer__menu-link" href="#">Philip Jones</a>
    <a class="footer__menu-link" href="#">Product</a>
    <a class="footer__menu-link" href="#">Colleen Russell</a>
    <a class="footer__menu-link" href="#">Marvin Hawkins</a>
    <a class="footer__menu-link" href="#">Bruce Simmmons</a>
  </div>
  <div class="footer__contact-container">
    <a class="footer__contact-link" href="#">
      <div class="footer__contact-icon-container">
        <img src="img/icons/location.png" alt="Location">
      </div>
      7480 Mockingbird Hill undefined
    </a>
    <a class="footer__contact-link" href="#">
      <div class="footer__contact-icon-container">
        <img src="img/icons/phone.png" alt="Phone">
      </div>
      (239) 555-0108
    </a>
    <div class="social-items footer__contact-link">
      <a class="social-link" href="#"><img class="social-icon" src="img/icons/twitter.png" alt="Twitter"></a>
      <a class="social-link" href="#"><img class="social-icon" src="img/icons/facebook.png" alt="Facebook"></a>
      <a class="social-link" href="#"><img class="social-icon" src="img/icons/linkedIn.png" alt="LinkedIn"></a>
    </div>
  </div>
</footer>