<header class="header container">
  <nav class="header__nav nav">
    <div class="nav__container">
      <div class="nav__menu" id="hidden-element">
        <a href="#" class="nav__menu-link">Home</a>
        <a href="#" class="nav__menu-link">Product</a>
        <a href="#" class="nav__menu-link">Pricing</a>
        <a href="#" class="nav__menu-link">About</a>
        <a href="#" class="nav__menu-link">Contact</a>
      </div>
      <a href="#" class="nav__logo-link">
        <img src="img/logos/figmaland.png" alt="Figmaland" class="nav__logo" />
      </a>
    </div>
    <div class="social-items" id="hidden-element">
      <a href="https://twitter.com/" target="_blank" class="social-link"><i class="fa-brands fa-twitter"></i></a>
      <a href="https://uk-ua.facebook.com/" target="_blank" class="social-link"><i class="fa-brands fa-square-facebook"></i></a>
      <a href="https://www.linkedin.com/" target="_blank" class="social-link"><i class="fa-brands fa-linkedin"></i></a>
    </div>
  </nav>
  <div class="header__hero">
    <h1 class="header__title">The best products start with Figma</h1>
    <p class="header__subtitle">
      Most calendars are designed for teams. <span id="hidden-element">Slate is designed for freelancers</span>
    </p>
    <a href="#" class="header__button button--primary">Try for <span id="hidden-element">free</span></a>
  </div>
</header>