<header class="header container">
  <nav class="header__nav nav">
    <div class="nav__menu">
      <a href="index.html" class="nav__menu-link">Home</a>
      <a href="#product" class="nav__menu-link">Product</a>
      <a href="#pricing" class="nav__menu-link">Pricing</a>
      <a href="#testimonials" class="nav__menu-link">About</a>
      <a href="#contact" class="nav__menu-link">Contact</a>
    </div>
    <div class="nav__logo-container">
      <a href="index.html" class="nav__logo-link">
        <img src="img/logos/figmaland.png" alt="Figmaland" class="nav__logo" />
      </a>
    </div>
    <div class="social-items">
      <a href="https://twitter.com/" target="_blank" class="social-link"><i class="fa-brands fa-twitter"></i></a>
      <a href="https://uk-ua.facebook.com/" target="_blank" class="social-link"><i class="fa-brands fa-square-facebook"></i></a>
      <a href="https://www.linkedin.com/" target="_blank" class="social-link"><i class="fa-brands fa-linkedin"></i></a>
    </div>
    <div class="header__off-screen-menu">
      <div class="nav__logo-container">
        <a href="index.html" class="nav__logo-link">
          <img src="img/logos/figmaland.png" alt="Figmaland" class="nav__logo" />
        </a>
      </div>
      <div class="nav__menu">
        <a href="index.html" class="nav__menu-link navigation-link">Home</a>
        <a href="#product" class="nav__menu-link navigation-link">Product</a>
        <a href="#pricing" class="nav__menu-link navigation-link">Pricing</a>
        <a href="#testimonials" class="nav__menu-link navigation-link">About</a>
        <a href="#contact" class="nav__menu-link navigation-link">Contact</a>
      </div>
      <div class="social-items">
        <a href="https://twitter.com/" target="_blank" class="social-link"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://uk-ua.facebook.com/" target="_blank" class="social-link"><i class="fa-brands fa-square-facebook"></i></a>
        <a href="https://www.linkedin.com/" target="_blank" class="social-link"><i class="fa-brands fa-linkedin"></i></a>
      </div>
    </div>
    <div class="header__burger-menu">
      <div class="header__ham-bar bar-top"></div>
      <div class="header__ham-bar bar-mid"></div>
      <div class="header__ham-bar bar-bottom"></div>
    </div>
  </nav>
  <div class="header__hero">
    <h1 class="header__title">The best products start with Figma</h1>
    <p class="header__subtitle">
      Most calendars are designed for teams. <span class="hidden-element">Slate is designed for freelancers</span>
    </p>
    <a href="#pricing" class="header__button button--primary">Try for <span class="hidden-element">free</span></a>
  </div>
</header>