<section class="organization container" id="product">
  <div class="organization__content">
    <h2 class="organization__title section-title">Fastest way to organize</h2>
    <p class="organization__subtitle section-subtitle">Most calendars are designed for teams. <span
        id="hidden-element">Slate is designed for freelancers</span></p>
    <a class="organization__button button--primary" href="#" class="button">Try for free</a>
  </div>
  <div class="organization__image-container">
    <img class="organization__image" src="img/laptop.png" alt="Laptop">
  </div>
</section>