<section class="partners">
  <h2 class="partners__title section-title">Partners</h2>
  <p class="partners__subtitle section-subtitle">Most calendars are designed for teams. <span class="hidden-element">Slate is designed for freelancers</span></p>
  <div class="partners__carousel">
    <button class="partners__carousel-button--prev">⬅︎</button>
    <div class="partners__carousel-slide">
    </div>
    <button class="partners__carousel-button--next">➡︎</button>
  </div>
  <a href="#pricing" class="partners__button button--primary">Try for free</a>
</section>