<section class="partners wrapper">
  <h2 class="partners__title section-title">Partners</h2>
  <p class="partners__subtitle section-subtitle">Most calendars are designed for teams. <span
      class="hidden-element">Slate is designed for freelancers</span></p>
  <div class="partners__carousel">
    <div class="partners__carousel-inner">
      <div class="partner-card">
        <a href="https://www.google.com/"><img src="img/logos/google.png" alt="Google"></a>
      </div>
      <div class="partner-card">
        <a href="https://www.amazon.com/"><img src="img/logos/amazon.png" alt="Amazon"></a>
      </div>
      <div class="partner-card">
        <a href="https://www.microsoft.com/"><img src="img/logos/microsoft.png" alt="Microsoft"></a>
      </div>
      <div class="partner-card">
        <a href="https://www.uber.com/"><img src="img/logos/uber.png" alt="Uber"></a>
      </div>
      <div class="partner-card">
        <a href="https://www.dropbox.com/"><img src="img/logos/dropbox.png" alt="Dropbox"></a>
      </div>
    </div>
  </div>
  <a href="#pricing" class="partners__button button--primary">Try for free</a>
</section>