<section class="partners">
  <h2 class="partners__title section-title">Partners</h2>
  <p class="partners__subtitle section-subtitle">Most calendars are designed for teams. <span id="hidden-element">Slate is designed for freelancers</span></p>
  <ul class="partners__list">
    <li class="partners__item">
      <div class="partners__item-title">Client Name</div>
      <a href="https://www.google.com/"><img src="img/logos/google.png" alt="Google"></a>
    </li>
    <li class="partners__item">
      <div class="partners__item-title">Client Name</div>
      <a class="partners__item-link" href="https://www.amazon.com/">
        <img class="partners__item-logo" src="img/logos/amazon.png" alt="Amazon">
      </a>
    </li>
    <li class="partners__item">
      <div>Client Name</div>
      <a class="partners__item-link" href="https://www.microsoft.com/">
        <img class="partners__item-logo" src="img/logos/microsoft.png" alt="Microsoft">
      </a>
    </li>
    <li class="partners__item partners__item--desktop">
      <div>Client Name</div>
      <a class="partners__item-link" href="https://www.uber.com/">
        <img class="partners__item-logo" src="img/logos/uber.png" alt="Uber">
      </a>
    </li>
    <li class="partners__item partners__item--desktop">
      <div>Client Name</div>
      <a class="partners__item-link" href="https://www.dropbox.com/">
        <img class="partners__item-logo" src="img/logos/dropbox.png" alt="Dropbox">
      </a>
    </li>
    <li class="partners__item partners__item--desktop">
      <div>Client Name</div>
      <a class="partners__item-link" href="https://www.google.com/">
        <img class="partners__item-logo" src="img/logos/google.png" alt="Google">
      </a>
    </li>
    <li class="partners__item partners__item--desktop">
      <div>Client Name</div>
      <a class="partners__item-link" href="https://www.uber.com/">
        <img class="partners__item-logo" src="img/logos/uber.png" alt="Uber">
      </a>
    </li>
    <li class="partners__item partners__item--desktop">
      <div>Client Name</div>
      <a class="partners__item-link" href="https://www.amazon.com/">
        <img class="partners__item-logo" src="img/logos/amazon.png" alt="Amazon">
      </a>
    </li>
  </ul>
  <a href="#" class="partners__button button--primary">Try for free</a>
</section>