<section class="pricing">
  <h2 class="pricing__title section-title">Pricing</h2>
  <p class="pricing__subtitle section-subtitle">Most calendars are designed for teams. Slate is designed for freelancers</p>
  <ul class="pricing__list">
      <li class="pricing__item item">
        <div class="item__title">FREE</div>
        <p class="item__paragraph">Organize across all apps by hand</p>
        <div class="item__price-container"><span class="item__price-number">0</span><span class="item__price-symbol"> $</span> Per Month</div>
        <div class="item__links-container">
          <a class="item__link" href="#">Pricing Feature</a>
          <a class="item__link" href="#">Pricing Feature</a>
          <a class="item__link" href="#">Pricing Feature</a>
          <a class="item__link" href="#">Pricing Feature</a>
          <a class="item__link" href="#">Pricing Feature</a>
        </div>
        <a class="pricing__button button--primary" href="#">
          Order Now
        </a>
      </li>
      <li class="pricing__item item">
        <div class="item__title">STANDARD</div>
        <p class="item__paragraph">Organize across all apps by hand</p>
        <div class="item__price-container"><span class="item__price-number">10</span><span class="item__price-symbol"> $</span> Per Month</div>
        <div class="item__links-container">
          <a class="item__link" href="#">Pricing Feature</a>
          <a class="item__link" href="#">Pricing Feature</a>
          <a class="item__link" href="#">Pricing Feature</a>
          <a class="item__link" href="#">Pricing Feature</a>
          <a class="item__link" href="#">Pricing Feature</a>
        </div>
        <a class="pricing__button button--primary" href="#">
          Order Now
        </a>
      </li>
      <li class="pricing__item item">
        <div class="item__title">BUSINESS</div>
        <p class="item__paragraph">Organize across all apps by hand</p>
        <div class="item__price-container"><span class="item__price-number">99</span><span class="item__price-symbol"> $</span> Per Month</div>
        <div class="item__links-container">
          <a class="item__link" href="#">Pricing Feature</a>
          <a class="item__link" href="#">Pricing Feature</a>
          <a class="item__link" href="#">Pricing Feature</a>
          <a class="item__link" href="#">Pricing Feature</a>
          <a class="item__link" href="#">Pricing Feature</a>
        </div>
        <a class="pricing__button button--primary" href="#">
          Order Now
        </a>
      </li>
  </ul>
</section>