<section class="pricing">
  <h2 class="section-title">Pricing</h2>
  <p class="section-subtitle">Most calendars are designed for teams. Slate is designed for freelancers</p>
  <ul class="pricing__items">
      <li class="pricing__item">
        <div class="pricing__item-title">FREE</div>
        <p class="pricing__item-paragraph">Organize across all apps by hand</p>
        <div class="pricing__price-container"><span class="pricing__price-number">0</span><span class="pricing__price-symbol"> $</span> Per Month</div>
        <div class="pricing__links-container">
          <a class="pricing__link" href="#">Pricing Feature</a>
          <a class="pricing__link" href="#">Pricing Feature</a>
          <a class="pricing__link" href="#">Pricing Feature</a>
          <a class="pricing__link" href="#">Pricing Feature</a>
          <a class="pricing__link" href="#">Pricing Feature</a>
        </div>
        <a class="button--primary" href="#">
          Order Now
        </a>
      </li>
      <li class="pricing__item">
        <div class="pricing__item-title">STANDARD</div>
        <p class="pricing__item-paragraph">Organize across all apps by hand</p>
        <div class="pricing__price-container"><span class="pricing__price-number">10</span><span class="pricing__price-symbol"> $</span> Per Month</div>
        <div class="pricing__links-container">
          <a class="pricing__link" href="#">Pricing Feature</a>
          <a class="pricing__link" href="#">Pricing Feature</a>
          <a class="pricing__link" href="#">Pricing Feature</a>
          <a class="pricing__link" href="#">Pricing Feature</a>
          <a class="pricing__link" href="#">Pricing Feature</a>
        </div>
        <a class="button--primary" href="#">
          Order Now
        </a>
      </li>
      <li class="pricing__item">
        <div class="pricing__item-title">BUSINESS</div>
        <p class="pricing__item-paragraph">Organize across all apps by hand</p>
        <div class="pricing__price-container"><span class="pricing__price-number">99</span><span class="pricing__price-symbol"> $</span> Per Month</div>
        <div class="pricing__links-container">
          <a class="pricing__link" href="#">Pricing Feature</a>
          <a class="pricing__link" href="#">Pricing Feature</a>
          <a class="pricing__link" href="#">Pricing Feature</a>
          <a class="pricing__link" href="#">Pricing Feature</a>
          <a class="pricing__link" href="#">Pricing Feature</a>
        </div>
        <a class="button--primary" href="#">
          Order Now
        </a>
      </li>
  </ul>
</section>