<section class="subscription">
  <div class="subscription__image-container">
    <img class="subscription__image" src="img/mail.png" alt="Mail">
  </div>
  <div class="subscription__content content">
    <div class="content__subtitle">At your fingertips</div>
    <h2 class="content__title">Lightning fast prototyping </h2>
    <div class="content__subtitle">Subscribe to our Newsletter</div>
    <p class="content__text">Available exclusivery on Figmaland</p>
    <form class="content__form form">
      <input class="form-input" type="email" value="Your Email">
      <a href="#" class="subscription__button button--submit">Subscribe</a>
    </form>
  </div>
</section>