<section class="subscription">

  <div class="subscription__image-container">
    <img class="subscription__image" src="img/mail.png" alt="Mail">
  </div>

  <div class="subscription__content">
    <div class="subscription__content-subtitle">At your fingertips</div>
    <h2 class="section-title">Lightning fast prototyping </h2>
    <div class="subscription__content-subtitle">Subscribe to our Newsletter</div>
    <p class="subscription__content-text">Available exclusivery on Figmaland</p>
    <form class="subscription__content-form form">
      <input class="form-input" type="email" value="Your Email">
      <a href="#" class="button--submit">Subscribe</a>
    </form>
  </div>

</section>