<section class="subscription">
  <div class="subscription__image-container--desktop">
    <img class="subscription__image" src="img/mail.png" alt="Mail">
  </div>
  <div class="subscription__content">
    <div class="subscription__subtitle">At your fingertips</div>
    <h2 class="subscription__title section-title">Lightning fast prototyping </h2>
    <div class="subscription__image-container--mobile">
      <img class="subscription__image" src="img/mail.png" alt="Mail">
    </div>
    <div class="subscription__form-container">
      <div class="subscription__subtitle">Subscribe to our Newsletter</div>
      <p class="subscription__text">Available exclusivery on Figmaland</p>
      <form class="subscription__form form">
        <input class="form__input" type="email" value="Your Email">
        <a href="#" class="form__button button--primary">Subscribe</a>
      </form>
    </div>
  </div>
</section>