<section class="testimonials" id="testimonials">
  <h2 class="testimonials__title section-title">Testimonials</h2>
  <a class="testimonials__logo-link" href="https://www.ibm.com/">
    <img class="testimonials__logo" src="img/logos/ibm.png" alt="IBM">
  </a>
  <p class="testimonials__subtitle section-subtitle">Most calendars are designed for teams. <span class="with-gap">Slate is designed for freelancers who want a simple way to plan their
    schedule.</span></p>
  <div class="testimonials__profile">
    <div class="testimonials__avatar-container">
      <img class="testimonials__avatar" src="img/avatar.png" alt="Avatar">
    </div>
    <div class="testimonials__profile-info">
      <div class="testimonials__profile-text">Organize across</div>
      <a class="testimonials__profile-link" href="#">Ui designer</a>
    </div>
  </div>
  <a href="#" class="testimonials__button button--primary">More Testimonials</a>
</section>