<section class="testimonials">
  <h2 class="section-title">Testimonials</h2>
  <a class="testimonials__logo-link" href="https://www.ibm.com/">
    <img class="testimonials__logo" src="img/logos/ibm.png" alt="IBM">
  </a>
  <p class="section-subtitle">Most calendars are designed for teams. Slate is designed for freelancers who want a simple way to plan their
      schedule.</p>
  <div class="testimonials__profile">
    <div class="testimonials__avatar-container">
      <img class="testimonials__avatar" src="img/avatar.png" alt="Avatar">
    </div>
    <div class="testimonials__profile-text">Organize across</div>
    <a class="testimonials__profile-link" href="#">Ui designer</a>
  </div>
  <a href="#" class="button--primary">More Testimonials</a>
</section>